* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    outline: 1px solid red;
}
header {
    background-color: #343a40;
    height: auto;
}
.view-scores {
    transition-duration: 0.1s;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
    max-width: 150px;
    min-width: 100px;
}
.view-scores:hover {
    background-color: #343a40;
    color: white;
}
.timer {

    font-size: 25px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start {
    transition-duration: 0.1s;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
    max-width: 150px;
    min-width: 100px;
}
.start:hover {
    background-color: #343a40;
    color: white;
}
.question-area {
    background-color: grey;
    color: black;
    font-size: 50px;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.question-card {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #D3D3D3;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-text {
    border-radius: 10px;
    background-color: #343a40;
    font-size: .5em;
    color: white;
    position: absolute;
    top: 10px;
    width: 85%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score-text {
    border-radius: 5px;
    background-color: #343a40;
    font-size: 25px;
    color: white;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: underline;
}
.high-score-text {
    border-radius: 5px;
    background-color: #343a40;
    font-size: 20px;
    color: white;
    width: 10%;
    min-width: 100px;
    height: auto;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* outline: 1px solid white; */
}
.back {
    transition-duration: 0.1s;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
    max-width: 150px;
    min-width: 100px;
}
.back:hover {
    background-color: #343a40;
    color: white;
}
.back a:link {
    text-decoration: none;
    color: black;
}
.back a:visited {
    text-decoration: none;
}
.back a:hover {
    text-decoration: none;
}
.back a:active {
    text-decoration: none;
}
.question-answer-container {
    position: absolute;
    bottom: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    width: 85%;
    height: 50%;
}
.question-A, 
.question-B, 
.question-C, 
.question-D {
    color: white;
    background-color: #343a40;
    font-size: 15px;
    width: 45%;
    height: 35%;
    border-radius: 10px;
}
.question-A:hover, 
.question-B:hover, 
.question-C:hover, 
.question-D:hover {
    opacity: .75;
} 

.question-result {
    color: grey;
    opacity: .5;
}

.outcome {
    position: absolute;
    bottom: 5%;
}
button a {
    width: auto;
    height: auto;
}


@media (min-width: 1200px){
    .question-A, 
    .question-B, 
    .question-C, 
    .question-D {
        font-size: 23px;
    }
}

@media (max-width: 1200px){
    .question-A, 
    .question-B, 
    .question-C, 
    .question-D {
        font-size: 21px;
    }
}


@media (max-width: 992px){
    .question-A, 
    .question-B, 
    .question-C, 
    .question-D {
        font-size: 19px;
    }
}

@media (max-width: 768px){
    .question-A, 
    .question-B, 
    .question-C, 
    .question-D {
        font-size: 18px;
    }
}

@media (max-width: 540px){
    .question-A, 
    .question-B, 
    .question-C, 
    .question-D {
        font-size: 17px;
    }
}
