* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

.view-scores {
    margin: 10px;
    border: 1px solid white;
    color: white;
    padding: 10px;
    max-width: 150px;
    min-width: 100px;
}

.timer {
    margin: 10px;
    border: 1px solid white;
    color: white;
    padding: 10px;
    max-width: 150px;
    min-width: 100px;
    text-align: center;
}
.ready {
    background-color: aqua;
    color: grey;
    font-size: 50px;
    text-align: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    transition-duration: 0.3s;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
    max-width: 150px;
    min-width: 100px;
}

.start:hover {
    background-color: black;
    color: white;
}

.question-container {
    background-color: aqua;
}

.question-text {
    background-color: black;
    color: white;
}

.question-A {
    background-color: blue;
}

.question-B {
    background-color: orange;
}

.question-C {
    background-color: red;
}

.question-D {
    background-color: green;
}

.question-A, 
.question-B, 
.question-C, 
.question-D {
    color: white;
}

footer {
    background-color: blue;
    height: 15vh;
}